.InfoUser {
    position: relative;
    top: -5vw;
    width: 25vw;
    height: 15vw;
    background-color: rgba(0, 0, 0, 0.252);
    border: 0.1vw solid rgb(0, 255, 234);
    display: grid;
    place-items: center;
}

.SpanUserInfo {
    color: aquamarine;
    text-decoration: underline;
}
