* {
    font-size: 1.5vw;
    font-family: Arial;
    font-weight: 500;
    color: white;
    border: 0vw;
    padding: 0vw;
    margin: 0vw;
    outline: 0vw;
    translate: no;
}

.MainDiv {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}